.mode-toggle {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 150px; /* Adjust based on your design */
  background-color: #f0f0f0; /* Light grey background */
  border-radius: 20px; /* Rounded corners for the switch */
  padding: 5px; /* Padding around the icons */
}

.mode-icon {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.indicator {
  position: absolute;
  top: 2px;
  bottom: 2px;
  width: calc(
    33.333% - 2px
  ); /* Adjust width to fit inside the container with padding */
  background-color: rgb(0 0 0 / 0.2); /* Indicator background */
  border-radius: 15px; /* Rounded corners for the indicator */
  transition: left 0.3s ease; /* Smooth transition for moving indicator */
}

.indicator-pos-0 {
  left: 5px;
} /* Position for Light mode */
.indicator-pos-1 {
  left: calc(33.333% + 5px);
} /* Position for Dark mode */
.indicator-pos-2 {
  left: calc(66.666% + 5px);
} /* Position for System Default */
